* {
  font-family:"方正黑体简体";
  font-family: "Microsoft YaHei" ! important;
}
.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}
body {background-color: #f5f5f5;}

footer {
  padding-top: 10px;
  margin: auto;
  color: white;
  background-color: #222222;
}

.footer-title{
  margin: auto;
  font-size:20pt;
}

.footer-text{
  font-size:10pt;
}

.TA_certificateOfExcellence {

}
