* {
  font-family:"方正黑体简体";
  font-family: "Microsoft YaHei" ! important;
}
.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}
body {background-color: #f5f5f5;}

footer {
  padding-top: 10px;
  margin: auto;
  color: white;
  background-color: #222222;
}

.footer-title{
  margin: auto;
  font-size:20pt;
}

.footer-text{
  font-size:10pt;
}

.TA_certificateOfExcellence {

}

.bg-img {
  height: 500px;

  /* Full height */
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-cgo-1 {
  background-image: url("../img/d_cnstudentperu_pic1.jpg");
}

.bg-cgo-2 {
  background-image: url("../img/d_cnstudentperu_pic2.png");
}

.bg-cgo-3 {
  background-image: url("../img/d_cnstudentperu_pic3.jpg");
}
.bg-cgo-4 {
  background-image: url("../img/d_cnstudentperu_pic4.jpg");
}

#contact-wrapper{
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
